<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="large-6 columns">
        <h3>Blog:</h3>
        <form method="post" action="/new-post">
            <p>Text: <input method="post" type="text" name="content"></p>
            <p>Subject: <input method="post" type="text" name="subject"></p>
            <button type="submit">Dodaj!</button>
        </form>
        <ul>
        {% for post in blogposts %}
            <li id="{{ post.id }}">
                <p>Subject: {{ post.subject }}</p>
                <p>Text: {{ post.text }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>